body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.card-container-box {
  display: flex;
  flex-direction: column;
  padding: 5%;
  margin: 20px auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
}

.add-todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-todo-container h2 {
  margin: 10px 0;
  font-size: 24px;
  color: #333;
}

.add-todo-container input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-todo-container button {
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-todo-container button:hover {
  background-color: #45a049;
}

.card-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .card-container-box {
    padding: 10px;
  }

  .add-todo-container input {
    width: 100%;
  }

  .card-list-container {
    flex-direction: column;
    align-items: center;
  }
}
